@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
  --primary-color:#4ade80;
  --off-white:#d1d5db;
}

body{
    font-family: 'Montserrat', sans-serif;
}

hr{
    margin :2rem 0rem;
}

/* container */

.container{
    padding: 0rem 1rem;
    
}
.container-center{
    max-width: 600px;
    margin: auto;
}

/* links */

.link{
      text-decoration: none;
      padding: 0.5rem 1rem;
}
.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color:black;
}

.link-secondary{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

/* lists */

.list-nonBullet-list{
    list-style: none;
}

.list-inline-list{
    display: inline;
    padding: 0rem 1rem;
    
}

/* navbar */

.navigation{
    background-color: var(--primary-color);
    color: black;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.nav-devloper{
    font-weight: bold;
}
.nav-pills{
    text-align: right;
}

.navigation .link{
    color: black;
}

.navigation .link-active{
    font-weight: bold;
}

/* header */

.hero{
padding: 2rem;
text-align: center;
}

.hero .hero-img{
    max-width: 350px;
    display: block;
    margin: auto;
}
.hero .hero-about{
    padding-top: 1rem;
    color: rgb(12, 54, 207);
}
.hero .hero-about .hero-tag{
    color: var(--primary-color);
}

/* section */

.section{
  padding: 2rem;
}
.section h3{
       text-align: center;
}
.ow{
    background-color: var(--off-white);
}

/* footer */

.footer{
    padding: 2rem 1rem;
    background-color: var(--primary-color);
    color: black;
    text-align: center;
    border-top-right-radius: 1rem; 
}
.footer .link{
    color: black;
}

.footer ul{
    padding-inline-start: 0px;
}
